* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    /* background-image: url(main_image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; */
}

/* INDEX */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background: linear-gradient(#795703,#f5cc5e 0%, #f5f0e4, white);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo img {
    width: 6%;
}

.search-btn {
    padding: 0.8rem 1.5rem;
    background-color: #FCC62D;
    border: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 300ms;
}

.search-btn:hover {
    background-color: #f5f0e4;
    color: #FCC62D;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero img {
    width: 30%;
}

.hero-crypto {
    font-weight: 700;
    font-size: 1.2rem;
}

.hero-sentence {
    font-size: 0.8rem;
}

.top-coins-title {
    text-align: center;
    color: #FCC62D;
    font-weight: 700;
    font-size: 1.3rem;
}

.coin {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #FCC62D;
    padding: 0.8rem 3rem 0.8rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f0e4;
    width: 100%;
}

.coins {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    white-space: nowrap;
    padding-top: 1.5rem;
    /* flex-wrap: wrap; */
}

.coins img {
    /* width: 4%; */
}

.coin-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.coin-price {
    font-size: 0.8rem;
}

.coin-name {
    font-weight: 600;
}

/* SEARCH */
.search-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FCC62D;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.search-form {
    margin-top: 2rem;
}

.search input {
    padding: 1rem;
    width: 40%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 1px solid #f5f0e4;
}

.search button {
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 1px solid #f5f0e4;
    background-color: #f5f0e4;
    cursor: pointer;
}

.search-txt {
    text-align: center;
    color: #FCC62D;
}

.search-results {
    margin: 4rem 0;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
    /* border: 1px solid black; */
    border: none;
    color: #795703;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    background-color: #f5cc5e;
    transition: all 300ms;
}

.result:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.more-info-btn {
    background-color: #795703;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms;
}

.more-info-btn:hover {
    background-color: #f5f0e4;
    color: #795703;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* DETAILS */

.content {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;
}

.content-name {
    color: #FCC62D;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* .second-content {
    display: flex;
    align-items: center;
} */

.prices {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.description-para {
    line-height: 1.3;
}

.price-history {
    padding: 3rem 2rem;
}

.price-history-title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #FCC62D;
}

/* .content-img {
    width: 100%;
} */
